<ion-content>
  <!-- Header area -->
  <div class="main-area">
    <div class="bg-purple">

      <div class="row paddingfive">
        <table style="width:100%">
          <tbody>
            <tr>
              <th style="width:10%">
                <i class="fa fa-angle-double-left fa-lg" [routerLink]="['/home']"></i>
              </th>
              <th class="main-title" style="width:80%">DocRank My Business</th>
              <th style="width:20%">
                <img class="drimage" [src]="doctorphoto">
              </th>
              <!-- <th class="dots-icon" style="width:10%">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </th> -->
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="container contentarea mt-3">
      <p class="pagetitle">FAQs</p>

      <p class="question"><b>1. How to improve rankings?</b></p>
      <p class="answer">
        To improve rankings, we recommend you to stay digitally active by keeping atleast 3 posts a week and obtain as
        many positive reviews as possible. To get more reviews, would recommend you to keep a QR code at your desk that
        allows users to effortless put up a review. Call: 7337063737 for a detailed audit report.
      </p>

      <p class="question"><b>2. How to improve leads?</b></p>
      <p class="answer">
        It is recommended to conduct campaigns and push offers on GMB product section. Also would recommend to optimize
        profile, it includes - Business name, Keywords & Description.
      </p>

      <p class="question"><b>
          3. What are the support contact numbers?</b></p>
      <p class="answer">
        Here are the support numbers:<br>
        POC 1: 7337063737<br>
        POC 2: 8108560810
      </p>

      <p class="question"><b>
          4. How to signup for other audits?</b></p>
      <p class="answer">
        Below are the audits available for your account:<br>
        - JustDial DocRank<br>
        - Practo DocRank<br><br>
        For more details, call: 7337063737
      </p>



    </div>



  </div>
</ion-content>