<ion-content>
  <!-- Header area -->
  <div class="main-area">
    <div class="bg-purple">

      <div class="row paddingfive">
        <table style="width:100%">
          <tbody>
            <tr>
              <th style="width:70%">
                <p class="main-title mb-0 mt-2">GMB Docrank</p>
                <p class="sub-title mb-2">{{docname}}</p>
              </th>
              <th style="width:20%">
                <p [class]="reportcss" (click)="monthlyreport()">Report</p>
                <!-- <img class="drimage" (click)="monthlyreport()" [src]="doctorphoto"> -->
              </th>
              <th class="dots-icon text-right" style="width:10%" (click)="logout()">
                <i class="fa fa-power-off" aria-hidden="true"></i>
                <!-- <i class="fa fa-ellipsis-v" aria-hidden="true"></i> -->
              </th>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <!-- Past week area at the top -->
    <div class="row paddingfive padtop">
      <table style="width:100%">
        <tbody>
          <tr class="for-duration-font">
            <th class="duration-left" style="width:50%">Past month</th>
            <th class="duration-right" style="width:50%">{{duration}}</th>
          </tr>

        </tbody>
      </table>
    </div>


    <!-- First box of reviews -->
    <div class="row border-grey">
      <div [class]="reviewcss.negcss" (click)=negreviews()>
        <p class="cardtitle">
          Negative Reviews
        </p>
        <p class="cardnum">
          {{curreviews.negreviews.length}}
        </p>
        <p class="cardchange">
          MoM : {{ oldreviews.negreviews.length > 0 ? (curreviews.negreviews.length - oldreviews.negreviews.length) /
          oldreviews.negreviews.length * 100 + "%" : curreviews.negreviews.length > 0 ? "+100%" : "-" }}
        </p>

      </div>
      <div [class]="reviewcss.neucss" (click)=neureviews()>
        <p class="cardtitle">
          Neutral Reviews
        </p>
        <p class="cardnum">
          {{curreviews.neureviews.length}}
        </p>
        <p class="cardchange">
          MoM : {{ oldreviews.neureviews.length > 0 ? (curreviews.neureviews.length - oldreviews.neureviews.length) /
          oldreviews.neureviews.length * 100 + "%" : curreviews.neureviews.length > 0 ? "+100%" : "-" }}
        </p>

      </div>
      <div [class]="reviewcss.poscss" (click)=posreviews()>
        <p class="cardtitle">
          Positive Reviews
        </p>
        <p class="cardnum">
          {{curreviews.posreviews.length}}
        </p>
        <p class="cardchange">
          MoM : {{ oldreviews.posreviews.length > 0 && oldreviews.posreviews.length > 0 ? ((curreviews.posreviews.length
          -
          oldreviews.posreviews.length) /
          oldreviews.posreviews.length * 100).toString().split(".")[0] : curreviews.posreviews.length > 0 ? "100" : "0"
          }} %
        </p>

      </div>


      <div class="row chips">
        <span *ngFor="let item of finalchips | keyvalue: valueOrder; let i = index" class="chiptext">
          {{item.key}} -
          {{item.value}}
        </span>
        <span class="chiptext" *ngIf="(finalchips | json) == ({} | json)">No text!</span>
        <!-- <span class="chiptext">And ?</span>
        <span class="chiptext">Consultation cost</span> -->
      </div>

      <div class="row icon-btn">
        <table style="width:100%">
          <tbody>
            <tr class="for-duration-font">
              <th class="bottom-icons" style="width:15%"><a target="_blank"
                  href="https://wa.me/+917337063737?lang=en&text=I%20want%20to%20know%20more%20about%20reviews.%20Call%20back."><i
                    class="fa fa-whatsapp"></i></a></th>
              <th class="bottom-icons" style="width:15%"><a href="tel:7337063737"><i class="fa fa-phone"></i></a></th>
              <th class="bottom-icons" style="width:15%"><a href="mailto:someone@example.com"><i
                    class="fa fa-envelope"></i></a></th>
              <th class="bottom-icons" style="width:15%"></th>
              <th class="click-text" [routerLink]="['/reviews']" style="width:40%"><u>Analyze reviews</u></th>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

    <!-- <app-Morereviews></app-Morereviews> -->


    <!-- Second box of posts -->
    <div class="row border-grey section-space">
      <div [class]="reviewcss.yourcss" (click)=yourpost()>
        <p class="cardtitle">
          Posts by You
        </p>
        <p class="cardnum">
          {{posts.curpost.length}}
        </p>
        <p class="cardchange">
          MoM : {{ posts.curpost.length > 0 && posts.oldpost.length > 0 ? ((posts.curpost.length - posts.oldpost.length)
          /
          posts.oldpost.length * 100).toString().split(".")[0]: posts.curpost.length > 0 ? "+100" : "-" }} %
        </p>

      </div>
      <div [class]="reviewcss.comcss" (click)=compost()>
        <p class="cardtitle">
          Posts by Competitors
        </p>
        <p class="cardnum">
          {{posts.compost.length}}
        </p>
        <p class="cardchange">
          MoM : {{ posts.compost.length > 0 && posts.comoldpost.length > 0 ? ((posts.compost.length -
          posts.comoldpost.length)
          /
          posts.comoldpost.length * 100).toString().split(".")[0]: posts.compost.length > 0 ? "+100" : "-" }} %
        </p>
      </div>

      <div class="row chips">
        <span class="chiptext" *ngFor="let item of finalposchips | keyvalue">{{item.key}} - {{item.value}}</span>
        <span class="chiptext" *ngIf="(finalposchips | json) == ({} | json)">No posts!</span>
        <!-- <span class="chiptext">And ?</span>
        <span class="chiptext">Consultation cost</span> -->
      </div>

      <div class="row icon-btn">
        <table style="width:100%">
          <tbody>
            <tr class="for-duration-font">
              <th class="bottom-icons" style="width:15%"><a target="_blank"
                  href="https://wa.me/+917337063737?lang=en&text=I%20want%20to%20know%20more%20about%20posts.%20Call%20back."><i
                    class="fa fa-whatsapp"></i></a></th>
              <th class="bottom-icons" style="width:15%"><a href="tel:7337063737"><i class="fa fa-phone"></i></a></th>
              <th class="bottom-icons" style="width:15%"><a href="mailto:someone@example.com"><i
                    class="fa fa-envelope"></i></a></th>
              <th class="bottom-icons" style="width:15%"></th>
              <th class="click-text" style="width:40%" [routerLink]="['/posts']"><u>View post</u></th>
            </tr>

          </tbody>
        </table>
      </div>

    </div>


    <!-- Third box of calls -->
    <div class="row border-grey section-space">
      <div [class]="reviewcss.callscss" (click)=calls()>
        <p class="cardtitle">
          Calls
        </p>
        <p class="cardnum">
          {{finalcalls}}
        </p>
        <p class="cardchange">
          MoM : {{ finalcalls > 0 && oldcalls > 0 ? ((finalcalls - oldcalls) / oldcalls * 100).toString().split(".")[0]
          :
          finalcalls > 0 ? "+100" : "-" }} %
        </p>

      </div>
      <div [class]="reviewcss.locationcss" (click)=location()>
        <p class="cardtitle">
          Relevant Searches Near You
        </p>
        <p class="cardnum">
          {{finalsearch}}
        </p>
        <p class="cardchange">
          MoM : {{ finalsearch > 0 && oldsearch > 0 ? ((finalsearch - oldsearch) / oldsearch *
          100).toString().split(".")[0] :
          finalsearch > 0 ? "+100" : "-" }} %
        </p>
      </div>

      <div class="row chips">
        <div id="barChart" style="display: flex;"></div>
        <!-- <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions"
          style="width: 90%; height: 150px; display: block;">
        </highcharts-chart> -->
      </div>
      <div class="row chips">

        <div [chart]="chart"></div>

      </div>

      <div class="row icon-btn">
        <table style="width:100%">
          <tbody>
            <tr class="for-duration-font">
              <th class="bottom-icons" style="width:15%"><a target="_blank"
                  href="https://wa.me/+917337063737?lang=en&text=I%20want%20to%20improve%20my%20digital%20presence.%20Call%20back."><i
                    class="fa fa-whatsapp"></i></a></th>
              <th class="bottom-icons" style="width:15%"><a href="tel:7337063737"><i class="fa fa-phone"></i></a></th>
              <th class="bottom-icons" style="width:15%"><a href="mailto:someone@example.com"><i
                    class="fa fa-envelope"></i></a></th>
              <th class="bottom-icons" style="width:15%"></th>
              <th class="click-text" style="width:40%"><u><a href="tel:7337063737">Boost calls</a></u></th>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

    <div class="sticky-footer">
      <table style="width:100%">
        <tbody>
          <tr>
            <th style="width:33%"><a target="_blank"
                href="https://wa.me/+917337063737?lang=en&text=I%20want%20to%20improve%20my%20digital%20presence.%20Call%20back."><i
                  class="fa fa-whatsapp"></i></a></th>
            <th style="width:33%"><a href="tel:7337063737"><i class="fa fa-phone"></i></a></th>
            <th style="width:33%" [routerLink]="['/faqs']">
              <i class="fa fa-question-circle"></i>
            </th>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</ion-content>